target

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml

## Directory-based project format:
.idea/

.deploy

.envrc

#Eclipse Generator
/.apt_generated/
/.mvn/
/.settings/
.factorypath
.project
.springBeans
.classpath
manifest.yml

# Mac File
.DS_STORE
